.vp-doc{
    table{
    position: relative;
        display: table;
        border-collapse: separate;
        margin: 0;
    }
    tr{

    }
    th,td{
        border:none;
        font-size:14px
    }
}